<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">First name</label>

  <div class="col-sm-10">
    <%= f.text_field :first_name, class: 'form-control', autofocus: false %>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Middle name</label>

  <div class="col-sm-10">
    <%= f.text_field :middle_name, class: 'form-control', autofocus: false %>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Last name</label>

  <div class="col-sm-10">
    <%= f.text_field :last_name, class: 'form-control', autofocus: false %>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>

  <div class="col-sm-10">
    <%= f.email_field :email, class: 'form-control', autofocus: false, autocomplete: 'email' %>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Organization</label>

  <div class="col-sm-10">
    <%= f.select :partner_organization_id, PartnerOrganization.all.collect{|p| [[p].name, p.id]}, class: 'custom-select mr-sm-2' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-10">
    <%= f.submit 'Save', class: 'btn btn-primary px-4' %>
  </div>
</div>