<div classs="flex-row align-items-center">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <img src="../app/assets/images/logo.png" class="rounded" alt="" />
            </div>
          </div>
        </div>
        <div class="card p-4">
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1>Aywa Miles</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="icon-user"></i>
                    </span>
                  </div>
                  <%= f.email_field :email, class: 'form-control', autofocus: false, autocomplete: 'email', placeholder: 'Email' %>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="icon-lock"></i>
                    </span>
                  </div>
                  <%= f.password_field :password, class: 'form-control', autocomplete: 'current-password', placeholder: 'Password' %>
                </div>
                <div class="input-group mb-5">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <%= f.check_box :remember_me, class: 'form-check-input' %>
                      <%= f.label :remember_me, 'Remember me', class: 'form-check-label' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <%= f.submit 'Sign in', class: 'btn btn-primary px-4' %>
                  </div>
                  <div class="col-6 text-right">
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to 'Forgot password?', new_password_path(resource_name), class: 'btn btn-link px-0' %><br />
                    <% end -%>
                    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                        <%= link_to 'Resend unlock instructions?', new_unlock_path(resource_name) %><br />
                    <% end -%>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
